body {
    width: 100%;
}

#initiative-tracker, .tracker-max-width {
    max-width: 960px;
    width: 100%;
}

#initiative-tracker div.mdl-grid:nth-child(even) {
    background-color: #e0e0e0;
}

.center-align {
    text-align: center;
}

.input-error {
    border: 1px solid red;
}

.bold {
    font-weight: bold;
}

/* OVERWRITES */
.mdl-grid {
    align-items: center !important;
}
