section.table {
    display: table;
}

form.tr, div.tr {
    display: table-row;
}

span.td {
    display: table-cell;
}

span.th {
    text-align: center;
    font-weight: bold;
}

.center-align {
    text-align: center;
}

.input-error {
    border: 1px solid red;
}
