body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.app {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

/* OVERRIDES */
.column {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}