@import 'bulma/sass/utilities/initial-variables.sass';

$primary: #507dbc;

@import 'bulma/bulma.sass';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 10px;
  width: 100%;
}

.app {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  overflow: visible;
}

.table-row:nth-child(even) {
  background-color: #f7f0f0;
  background-clip: padding-box;
}

.input-row {
  margin-bottom: 20px;
}

/* OVERRIDES */
html {
  background-color: #fbfbff !important;
}

.column {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
