body {
    width: 100%;
}

.app {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

/* OVERRIDES */
.table th, .table td {
    text-align: center;
}

.table th {
    cursor: pointer;
}

.table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}